# compiled output
/tmp
aot/*
dist/*

# dependencies
node_modules
bower_components
jspm_packages

# IDEs and editors
/.idea

# ignore js and map files
typings
app/**/*.map
app/**/*.js
app/*.js.map
app/*.js
app/main-ts
system-config.js*
