<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Home.</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="flexsearch--wrapper">
            <form class="flexsearch--form">
              <div>
                <input [(ngModel)]="searchTerm" name="search" class="flexsearch--input" type="search" placeholder="find by title | author | type">
              </div>
              <button class="flexsearch--submit" (click)="searchPageable()"><i class="glyphicon glyphicon-search"></i></button>
            </form>
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-right" style="margin-bottom: 20px; margin-top: 20px;">
                <a type="button" class="btn btn-theme" [routerLink]="['/add']">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add bookmark
                </a>
            </div>
            <div class="loading" *ngIf="loading == 'show'">
              <img src="img/loader.gif" alt="Waiting to bookmarks..." />
            </div>

            <div class="text-center">
            <ul class="mipagination modal-4">
              <li><a href="#" (click)="previous()" class="prev">
                <i class="fa fa-chevron-left"></i>
                  Previous
                </a>
              </li>
                <li><a><b>{{currentPage + 1}}</b></a></li>
                <li><a>of</a></li>
                <li><a><b>{{totalPages}}</b></a></li>
              <li><a href="#" (click)="next()" class="next"> Next
                <i class="fa fa-chevron-right"></i>
              </a></li>
            </ul></div>
            <table id="bookmarks-list-id" class="table table-hover">
                <tbody *ngFor="let bookmark of bookmarks">
                    <!--Black header card -->
                    <tr>
                        <td class="list-group-item-text header-card">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8 text-left">
                                    <h4><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> {{bookmark.name}}</h4>
                                </div>
                                <div class="col-xs-6 col-md-4 text-right">
                                    <div class="btn-group">
                                        <a [routerLink]="['/details', bookmark.id]" class="btn btn-theme"><span class="glyphicon glyphicon-search"></span></a>
                                        <a [routerLink]="['/edit', bookmark.id]" class="btn btn-theme"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a (click)="deleteBookmark(bookmark.id)" class="btn btn-theme"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!--Body card result-->
                    <tr>
                        <td id="cwrap">
                            <p class="list-group-item-text">
                              <span *ngIf="bookmark.author" class="glyphicon glyphicon-user"></span>  {{bookmark.author}} &nbsp;
                              <a *ngIf="bookmark.type" href="{{bookmark.url}}" target="_blank"> <span  class="glyphicon glyphicon-globe"></span>  {{bookmark.type}}</a> &nbsp;
                              <span *ngIf="bookmark.createdDT" class="glyphicon glyphicon-calendar"></span><small class="csmall"> {{bookmark.createdDT}} </small>
                            </p>
                            <p *ngIf="bookmark.description" class="list-group-item-text text-justify"><small> {{bookmark.description}}</small></p>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="height: 300px;" *ngIf="box == 'show'"></div>
        </div>
    </div>
</div>
